@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f2eee5;
}
.relativeClass{
    position: relative; float: left; width: 100%; margin:0; padding: 0;
}

.limBody{
    margin-left: 50px;
    margin-right: 50px;
    width:calc(100% - 100px);
}

.footerIconCover{
    justify-content: center;
    align-items: center;
    display: flex;
}

.footerIconCover p{
    color: white;
}

/* menu item */

.menuItem{
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.menuItem p{
    font-size: 15px;
    font-weight: 600;
    color: #818181;
}

.menuItem:hover p{
    color: #ffcd1e;
}

/* navigation image */
.menuBody{
    margin-top: 20px;
}

.navIcon{
    position: relative;
    width: auto;
    height: auto;
}

.navIcon img{
    width: 200px;
    height: auto;
}

h2{
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    margin: 0;
    padding: 0;
}
p{
    font-weight:300;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.versions{
    position: relative;
    float: left;
    background-color: white;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin-top: 10px;
}

ul {
    list-style: none; 
    position: relative;
    float: left;
    margin: 0;
    padding: 5px  10px;
  }
      

li{
    position: relative;
    float: left;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

li::before {
    content: "\2022";
    color: #ffcd1e;
    width: 4px;
    height: 4px;
    display: inline-block;
    position: absolute;
    top: -20px;
    left: -10px;
    bottom: 0;
    margin: auto;
}

li span{
    font-size: 18px;
    color: #ffcd1e;
}

.limBody .left{
    width: 70%;
}
.limBody .right{
    width: 30%;
}

.mainImg{
    margin-top: 20px;
    width: 85%;
    position: relative;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(../img/matthew-kerslake-BpH--upRlCs-unsplash.jpg);
    border-radius: 30px;
}
.secImg{
    margin-top: 0px;
    width: 90%;
    position: relative;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100% ;
    background-image: url(../img/geran-de-klerk-yKiLWMWquKE-unsplash.jpg);
    border-radius: 30px;
}

.small{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform .2s;
    background-size: 100% auto;
}
.small:hover{
    transform: scale(1.1);
}

.proImg{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto ;
    background-image: url(../img/prince-david-MMKAbQPIXg8-unsplash.jpg);
    border-radius: 80px;
    transition: transform .2s;
}
.proImg:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
    .limBody .left, .limBody .right{
        width: 100%;
    }
    .menuItem{
        display: none;
    }
    .mainImg{
        background-size: auto 100% ;
    }
    .small{
        background-size: 100% auto;
    }
}

/* footer */

.footerLogo{
    margin-top: 30px;
    height: 65px;
    background-image: url("../img/main-logo.png");
    background-repeat: no-repeat;
    background-size: auto 80% ;
    background-position: center;
    margin-bottom: 10px;
}

.footerIconCover .relativeClass{
    width: 165px;
}

.footerIcons{
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    background-color: #ffcd1e;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 50% ;
    background-position: center;
}

/* put icon images */
.twitter{
    background-image: url("../img/icons/twitter.svg");
}
.insta{
    background-image: url("../img/icons/instagram.svg");
}
.facebook{
    background-image: url("../img/icons/facebook.svg");
}



a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.section p{
    line-height: 35px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}


/* mobile navigation */
.menuCover{
    position:absolute;
    z-index: 88;
    margin-top: 20px;
}
.hamBtn{
    position: absolute;
    float: right;
    display: none;
    padding-right: 30px;
    padding-left: 30px;
    width: calc(100% - 60px);
}
#nav-icon{
    width: 45px;
    height: 45px;
    position: relative;
    margin: 15px auto;
    margin-bottom: 0;
    float:right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ffcd1e;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }


    #nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 12px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 24px;
  }
  
  /* hover open */

  .hamBtn:hover #nav-icon span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  
  .hamBtn:hover #nav-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .hamBtn:hover  #nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .hamBtn:hover #nav-icon span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .mobileMenu{
    height: auto;
    background-color: rgba(255,255,255,0.95);
    display: none;
    padding-bottom: 20px;
    width: calc(100%);
    top: 0;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .hamBtn:hover .mobileMenu{
      display: block;
      animation-name: fadeIn;
        animation-duration: 1s;
  }

  @media only screen and (max-width: 1200px) {
    .menuBtn{
        display: none;
    }
    .hamBtn{
        display:block;
    }
    .mobileMenu .menuItem{
        display: block;
        width: calc(100% - 60px);
        margin-right: 0;
        text-align: center;
    }
}