html {
    scroll-behavior: smooth;
  }
body{
    background-color: white;
    font-family: 'Nunito', sans-serif;
}
.relativeClass{
    position: relative; float: left; width: 100%; margin:0; padding: 0;
}
h1{
    position: relative;
    float: left;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 5vw;
    width: 100%;
}
h2{
    position: relative;
    float: left;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 4vw;
    width: 100%;
}
h3{
    position: relative;
    float: left;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 2vw;
    width: 100%;
}
p{
    position: relative;
    float: left;
    font-weight: 300;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.4vw;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
}
.headCover{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top right;
    background-image: url("../img/background_01.jpg");
    height: auto;
}
.bannerCover{
    position: relative;
    float:right;
    width: 50%;
    height: auto;
}
.bannerCover img{
    position: relative;
    float:right;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.menuBar{
    z-index: 60;
    position:absolute;
    height:60px;
    /* background-color: red;; */
}
.mainLogo{
    position: relative; float: left;
    height:40px;
    width: auto;
    margin-left: 30px;
    margin-top: 10px;
}
.menuBtn{
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    height: 35px;
    margin-top: 18px;
    cursor: pointer;
    margin-right: 30px;
}

/* fade animation in menu line */
@keyframes faceBar {
    from {border-color: rgba(255, 255, 255,0);}
    to {border-color: #ED6436;}
  }
.menuBtn:hover{
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: #ED6436;
    animation-name: faceBar;
    animation-duration: 1s;
}
.menuBtnSeleted{
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: #ED6436;
}
.menuBtn p{
    font-size: 15px;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}
.contactIconBody{
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 24px;
    background-color: rgba(255, 255, 255,0.6);
    margin-right:30px;
    margin-top: 13px;
    border-radius: 0 30px 30px 30px;
    border-style: solid;
    border-width: 4px;
    border-color: #ED6436;
}
.contactIconBody p{
    font-size: 15px;
    position: relative;
    float: right;
    font-weight: 600;
    color: #000000;
    margin: 2px 10px 0 0;
    padding: 0;
    width: auto;
}
.contactIconBody .icon{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 35px;
    background-color: #ED6436;
    border-radius: 0 0 0 10px;
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: center;
    background-image: url("../img/icons/phone-call.svg");
}

/* menu icon  get idea from http://jsfiddle.net/lucaguglielmi/c0xkopfd/ but custemized size, colour and function*/
.hamBtn{
    position: absolute;
    float: right;
    display: none;
    padding-right: 30px;
    padding-left: 30px;
    width: calc(100% - 60px);
}
#nav-icon{
    width: 45px;
    height: 45px;
    position: relative;
    margin: 15px auto;
    float:right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ED6436;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }


    #nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 12px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 24px;
  }
  
  /* hover open */

  .hamBtn:hover #nav-icon span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  
  .hamBtn:hover #nav-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .hamBtn:hover  #nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .hamBtn:hover #nav-icon span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .mobileMenu{
    height: auto;
    background-color: rgba(255,255,255,0.95);
    display: none;
    padding-bottom: 20px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .hamBtn:hover .mobileMenu{
      display: block;
      animation-name: fadeIn;
        animation-duration: 1s;
  }

  

  

@media only screen and (max-width: 768px) {
    .menuBtn{
        display: none;
    }
    .hamBtn{
        display:block;
    }
    .contactIconBody{
        display: none;
    }
    .mobileMenu .menuBtn{
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .mobileMenu .contactIconBody{
        display:block;
        margin-right: 0;
    }
}

 

/* main slider */
.mainSlider{
    width: 45%;
    height: auto;
    padding-left: 30px;
    padding-top:60px;
    /* background-color: red;; */
}
.centerSlide{
    margin-top:20px;
}
.centerSlide .left{
    width: 80px; height:100%; 
}
.centerSlide .right{
    width: 70%; padding-left: 10px; border-style: solid; border-color: #707070; border-width: 0 0 0 3px;
}
.slideImg{
    width: 40px; height: auto; margin-left: 20px; margin-right: 20px;
}
.slideDots{
    position: relative;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #191919;
    margin: 10px 8px;
    cursor: pointer;
}
.slideDotsSelected{
    background-color: #ED6436;
}
.bookNow{
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 110px;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-image: url("../img/book-now.png");
    transform: rotate(-40deg);
    cursor: pointer;
}

#slide{
    font-weight: 500;
}
@media only screen and (max-width: 768px) {
    .bannerCover{
        width: 100%;
    }
    .bannerCover img{
        width: 80%;
    }
    .mainSlider{
        width: 100%;
        padding-left: 0;
    }
    .mainSlider h1{
        text-align: center;
    }
    .mainSlider p{
        text-align: center;
    }
    .mainSlider .centerSlide{
        width: 250px;
        margin: 0 auto;
        display: block;
        float:none;
    }
    .centerSlide .left{
        margin-top: 10px;
    }
    .centerSlide .right{
        width: 150px;
        margin-top: 10px;
    }
    .centerSlide .right p{
        font-size: 12px;
        text-align: left;
    }
    .slideDots{
        position: relative;
        float: left;
        width: 7px;
        height: 7px;
        border-radius: 7px;
        background-color: #191919;
        margin: 0px 5px;
        cursor: pointer;
    }
    .slideDotsSelected{
        background-color: #ED6436;
    }
    .slideDots:nth-child(1){
        margin-left: 25px;
    }
    .slideImg{
        width: 30px;
        height: 30px;
        margin-left: 30px;
        margin-right: 10px;
    }
    .bookNow{
        margin: 10px auto;
        float: none;
        margin-top: 200px;
    }
}

/* about section */

.aboutSection{
    width: 55%;
    height: auto;
}
.aboutSection img{
    position: relative;
    float:left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.aboutImg{
    z-index: 10;
    position:absolute;
    width: 20%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-image: url("../img/about-img.png");
    height: 40%;
    transform: rotate(-10deg);
    margin-top: 50px;
    left: 30%;
}
.aboutContent{
    width: 40%;
    float: right;
    padding-top: 30px;
    padding-right: 30px;
}
.btn{
    position: relative;
    float: left;
    width: auto;
    height: auto;
    background-color: #ED6436;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 0 15px 15px 15px;
}
.btn p{
    width: auto;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

@media only screen and (max-width: 768px) {
    .aboutSection{
        width: 100%;
    }
    .aboutSection img{
        width: 80%;
    }
    .aboutImg{
        width: 200px;
        height: 150px;
        margin-top: 0px;
    }
    .aboutContent{
        width: 100%;
        padding-right: 0;
        padding-top: 10px;
    }
    .aboutContent h2{
        text-align: center;
    }
    .aboutContent p{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: auto;
    }
    .btn p{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .btn{
        float:none; 
        display:table;
        margin: 0px auto;
    }
    
}

/* other content */

.leftTextContent{
    float: left;
    padding-right: 0;
    padding-left: 30px;
    padding-top: 40px;
}

.leftTextImg{
    float:right;
}
.leftTextImg img{
    float:right;
    width: 85%;
}

ul{
    position: relative;
    float: left;
    padding-right: 10px;
    padding-left: 20px;
    width: 90%;
    font-weight: 300;
    color: #000000;
    text-align: left;
    font-size: 1.4vw;
}
ol{
    position: relative;
    float: left;
    padding-right: 10px;
    padding-left: 30px;
    width: 90%;
    font-weight: 600;
    color: #000000;
    text-align: left;
    font-size: 1.6vw;
}

.leftTextContent li{
    width: 100%;
    position: relative;
    float: left;
}

@media only screen and (max-width: 768px) {
    .leftTextContent{
        padding-left: 0;
        padding-top: 30px;
    }
    .leftTextImg img{
        float:right;

    }
    ul{
        font-size: 14px;
    }
    ol{
        font-size: 16px;
    }
}

/* map section */
.mapSection h2{
    margin-top: 60px;
    margin-left: 30px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .mapSection h2{
        text-align: center;
        margin-left: 0px;
        width: 100%;
    }
}

/* price section */
.priSec{
    margin-top: 50px;
}
.priceSecLeft{
    padding-top: 80px;
    width: 20%;
}
.priceSecLeft h2,.priceSecLeft h3,.priceSecLeft p{
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 20px;
    width: auto;
}
.btn p{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.priceSecLeft .btn{
    margin-left: 30px;
}
.priceSecRight{
    width: 78%;
    padding: 0;
    margin: 0;
}
.priceDev{
    width: 33.33%;
    height: 550px;
    border-radius: 40px;
    background-color: #f2f2f4; 
}
.priceDev img{
    margin-left: 30px;
}
.priceDev ul{
    margin-left: 30px;
    margin-top: 30px;
    width: 80%;
    list-style: square inside url("../img/icons/check.png");
}
.priceDevSel ul{
    color: white;
}
.priceDev h3{
    padding-top: 30px;
}
.priceDev h3,.priceDev h2{
   padding-left: 30px;
   padding-right: 30px;
    width: auto;
}
.priceDevSel{
    z-index: 20;
    transform: scale(1.1);
    background-image: url("../img/price_list_background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .priceSecLeft{
        width: 100%;
        padding-top: 0px;
    }
    .priceSecLeft .btn{
        margin-left: auto;
    }
    .priceSecRight{
        width: 100%;
    }
    .priceDev{
        width: 70%;
        margin-top: 20px;
        margin-left: 15%;
        height: 350px;
    }
    .priceDevSel{
        transform: scale(1);
    }
    .priceDev h3,.priceDev h2{
        text-align: center;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .priceSecRight .slideImg{
        float: none;
        display: table;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1920px) {
    .priceDev{
        height: 780px;
    }
}


/* footer css design */

.footer{
    margin-top: 60px;
    margin-bottom: 30px;
}

.footer .section{
    width: 25%;
}

.footerLogo{
    height: 65px;
    background-image: url("../img/main-logo.png");
    background-repeat: no-repeat;
    background-size: auto 80% ;
    background-position: center;
}

.footerIconCover{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

.footerIconCover .relativeClass{
    width: 165px;
}

.footerIcons{
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    background-color: #ED6436;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 50% ;
    background-position: center;
}
/* put icon images */
.twitter{
    background-image: url("../img/icons/twitter.svg");
}
.insta{
    background-image: url("../img/icons/instagram.svg");
}
.facebook{
    background-image: url("../img/icons/facebook.svg");
}

.section p{
    line-height: 35px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.section .btn{
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

.section .btn p{
    width: 200px;
    font-size: 16px;
    line-height:normal;
    text-align:center;
    padding-left: 0;
    padding-right: 0;
}

input[type=text]{
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    border: none;
    background-color: transparent;
}

input[type=text]:focus {
    border: none;
    outline: none;
  }

  @media only screen and (max-width: 768px) {
    .footer .section{
        width: 100%;
        margin-top: 20px;
    }
    .section p{
        text-align: center;
    }
    .section h3{
        text-align: center;
    }
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }


  /* Animal and Plants page */

  /* animal description covers */
 .animalCatCover{
     width: calc(23% - 40px);
     min-height: 450px;
     background-color: #F2F2F4;
     border-radius: 30px;
     margin-left: 1%;
     margin-right: 1%;
     margin-top: 30px;
     padding: 20px;
 }
 .animalCatCover p{
    margin-bottom: 50px;
 }
 /* anumal cover image */
 .animalCatCover img{
     position: relative;
     float: left;
     width: 80px;
     height: auto;
     margin-top: 20px;
 }
 /* view more button */
 .viewMore{
     position: absolute;
     float: left;
     margin: 0;
     padding: 0;
     bottom: 20px;
     cursor: pointer;
     justify-content: center;
     align-items: center;
     display: flex;
 }

 .viewMore p{
     margin: 0;
     color: #ED6436;
     font-weight: 600;
 }

 /* view button arrow animation */
 @keyframes viewAnimation {
    from {margin-left: -10px; opacity: 0;}
    to {margin-left: 10px; opacity: 1;}
  }

 .viewMore img{
     width: 20px;
     height: auto;
     margin: 0;
     padding: 0;
     margin-left: 10px; 
     z-index: 60;
 }

 .viewMore:hover img{
    animation-name: viewAnimation;
    animation-duration: 1s;
 }

 .animalCatCover:nth-child(4){
     margin-bottom: 30px;
 }

 @media only screen and (max-width: 1200px) {
    .animalCatCover{
        width: calc(46% - 40px);
        margin-left: 2%;
        margin-right: 2%;
        min-height: 300px;
    }
 }

 @media only screen and (max-width: 768px) {
    .animalCatCover{
        width: calc(90% - 40px);
        margin-left: 5%;
        margin-right: 5%;
        min-height: 300px;
    }
 }

 @media screen and (min-width: 1920px) {
    .animalCatCover{
        min-height: 650px;
    }
 }

 /* table design css - for plants */

 table{
     position: relative;
     float: left;
     margin: 0;
     padding: 0;
     width: calc(100% - 60px);
     margin-left: 30px;
     margin-right: 30px;
 }
 /* table header css */
 th{
    background: #ED6436;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 0 15px 15px 15px;
  }
  td{
    text-align: left;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
  }
  td img{
      position: relative;
      float: left;
      width: 50%;
      height: auto;
      margin: 0;
      padding: 0;
  }
  td:nth-child(3){
    font-weight: 300;
    font-size: 15px;
}

  /* colomn css */
  .col1{
      width: 20%;
  }
.col2{
        width: 30%;
    }
    .col3{
        width: 50%;
    }
    tfoot td{
        color: white;
        text-align: center;
        border-radius: 0 0 15px 15px;
        background-color: #ED6436;
    }
    @media only screen and (max-width: 768px) {
            table {
            border: 0;
            width: calc(100% - 20px);
            margin-left: 10px;
            margin-right: 10px;
          }
        
          table caption {
            font-size: 1.3em;
          }
          
          table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }
          
          table tr {
            border-bottom: 3px solid #ED6436;
            display: block;
            margin-bottom: .625em;
          }
          
          table td {
            border-bottom: none;
            display: block;
            font-size: 15px;
            text-align: right;
            margin-bottom: 5px;
          }
          td img{
            position: relative;
            float: right;
            width: auto;
            height: 100px;
            margin: 0;
            padding: 0;
        }
        td:nth-child(2){
            height: 100px;
        }

        td:nth-child(3){
            margin-top: 30px;
            font-size: 12px;
            text-align: left;
        }
       
          
        table td::before {
            content: attr(data-label);
            float: left;
            font-weight: 600;
            background-color: #ED6436;
            padding: 5px;
            width: 80px;
            text-align: center;
            color: white;
            border-radius: 0 15px 15px 15px;
            
          }

          table td:nth-child(3):before {
              margin-top: -30px;
          }
          
          
          table td:last-child {
            border-bottom: 0;
          }
      
    }

    /* activity page */

    .lefTime{
        width: calc(50% - 45px);
        margin-left: 30px;
    }
    .centerTime{
        position: absolute;
        width: 5px;
        height: 100%;
        left: calc(50%);
        border-left: 5px dotted #eeeeee;;
    }
    .rigTime{
        width: calc(50% - 45px);
        margin-left: 30px;
    }

    .timeSlot{
        border: #eeeeee;
        border-style: solid;
        border-width: 2px 0 0 0 ;
        min-height: 250px;
        padding: 10px;
        width: calc(100% - 20px);
    }
    .lefTime .timeSlot p, .lefTime .timeSlot h3{
        text-align: right;
    }
    .timeSlot p span{
        font-weight: 600;
        color: #ED6436;
    }

    .emptySlot{
        border: none;
    }

    /* time slot image */
    .timeSlot .icon{
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #ED6436;
        top: -20px;
        z-index: 60;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60% auto;
        transition: transform .2s;
    }
    

    .timeSlot .icon:hover{
        transform: scale(1.5);
    }  

    .lefTime .timeSlot .icon{
        left: calc(100% - 2px);
    }
    .rigTime .timeSlot .icon{
        right: calc(100% - 8px);
    }

    @media only screen and (max-width: 768px) {
        .emptySlot{
            display: none;
        }
        .centerTime{
            display: none;
        }
        .lefTime{
            width: calc(100% - 45px);

        }
        .rigTime{
            width: calc(100% - 45px);
        }
        .timeSlot{
            min-height: auto;
            margin-top: 30px;
        }
        .lefTime .timeSlot .icon{
            left: -20px;
        }
        .rigTime .timeSlot .icon{
            left: -20px;
            right:  auto;
        }
        .rigTime .timeSlot p, .rigTime .timeSlot h3{
            text-align: right;
        }
        #slide{
            padding-left: 30px; padding-right: 30px; width: calc(100% - 60px);
        }
    }

    /* contact us page */

    .contactUs{
        position:absolute;
        width: 100%;
        z-index: 0;
    }

    .slideContact{
        z-index: 60;
    }
    .slideContact p,.slideContact h1{
        color: white;
    } 
    .contactMenubar p{
        color: white;
    }

    @media only screen and (max-width: 768px) {
        .slideContact{
            margin-top: 60px;
            padding-top: 0px;
        }
        .contactUs img{
            display: none;
        }
        .contactUs{
            height: 450px;
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: center;
            background-image: url("../img/contactUs.png");
        }
        .donateUs{
            background-image: url("../img/donate.png");
        }
        .contactMenubar{
            z-index: 80;
        }
        .contactMenubar p{
            color: #000000;
        }
    }

    .contLeft{
        width: calc(50% - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .contRight{
        width: calc(50% - 30px);
        margin-right: 30px;
    }

    .conctIcon{
        margin-top: 30px;
        width: 10%;
    }
    .conctIcon img{
        position: relative;
        float: left;
        width: 100%;
        height: auto;
    }
    .conctInfo{
        margin-top: 30px;
        width: calc(90% - 20px);
        padding-left: 20px;
    }

    /* contact form */
    .contactForm{
         height: auto;
         border-radius: 40px;
         background-color: rgba(242, 242, 244, 1);
         padding-top: 20px;
         padding-bottom: 30px;
    }

    .col6{
        width: calc(50% - 40px);
        margin: 20px;
        margin-bottom: 0;
    }
    .col12{
        width: calc(100% - 40px);
        margin: 20px;
        margin-bottom: 0;
    }

    .contactForm input[type=text], .contactForm textarea, .contactForm input[type=number], .contactForm select{
        width: calc(100% - 40px);
        color: black;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        padding: 15px 20px;
        border: none;
        background-color: white;
        border-radius: 40px;
        
    }

    .contactForm select{
        width: 100%;
    }
    .contactForm textarea{
        border-radius: 20px;
    }
    
    .contactForm textarea:focus {
        border: none;
        outline: none;
      }

    .col12 .btn{
        margin-top: 0;
    }

    @media only screen and (max-width: 768px) {
        .contRight,.contLeft{
            width: calc(100% - 60px);
            margin-right: 30px;
            margin-left: 30px;
        }
        .col6{
            width: calc(100% - 40px);
        }
        .conctIcon{
            margin-top: 30px;
            width: 20%;
        }
        .conctInfo{
            margin-top: 30px;
            width: calc(80% - 20px);
            padding-left: 20px;
        }
    }

    .doanateForm{
        width: calc(100% - 160px);
        margin-left: 80px;
    }

    /* radio btn css */
    /* get some codes from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ED6436;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  /* cart */

  .product{
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      border-radius: 15px;
      border: 1px solid rgba(0,0,0,.1);
      width: 95%;
      height: auto;
      margin-bottom: 10px;
  }

  .product .proLeft{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    width: 30%;
    height: 100%;
    top: 0;
    bottom: 0;
    /* background-color: red; */
  }

  .product .proLeft img{
      width: 50%;
      height: auto;
      margin: 0;
      padding: 0;
      margin-left: 25%;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .product .proCenter{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 45%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .product .proRight .btn{
      margin-top: 20px;
    float: right;
    margin-bottom: 20px;
  }

  .product .proRight {
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
      padding-left: 10px;
      width: 20%;
    height: 100%;

  }

  @media only screen and (max-width: 768px) {
    .product .proLeft img{
        margin-top: 20px;
    }
    .product .proLeft{
        width: 100%;
    }
    .product .proCenter{
        width: 100%;
    }
    .product .proRight{
        width: 100%;
        padding-left: 0;
    }

    .product .proRight .btn{
     
      float: none;
      
    }
  }

  /* model */

  .model{
      margin: 0;
      padding: 0;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.8);
      z-index: 99;
      display: none;
  }

  .model .m-body{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }

  .model .data{
      width: 250px;
      height: 300px;
      background-color: white;
      margin: 0 auto;
      border-radius: 20px;
  }

  .model .data .close{
    background-color: #ED6436;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position:absolute;
    margin-top: -10px;
    margin-left: -10px;
    cursor: pointer;
    z-index: 99;
  }

  .model .data .close p{
      position: relative;
      color: white;
      font-size: 15px;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      padding-top: 10px;
      
  }